button {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: hsl(323, 75%, 79%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(325, 100%, 67%);
    border-radius: 20px;
    max-width: 300px;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 10px solid hsl(327, 100%, 61%);
}

#display {
    width: 70%;
    height: 90%;
    padding: 20px;
    margin-top: 20px;
    font-size: 2rem;
    border-radius: 20px;
    text-align: right;
    border: 8px solid hsl(327, 100%, 61%);
    background-color: hsl(310, 100%, 94%);
    color: rgb(255, 129, 129)
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(311, 100%, 93%);
}

button:hover {
    background-color: hsl(323, 75%, 84%);
}

button:active {
    background-color: hsl(323, 75%, 90%);
}

.operator-btn {
    background-color: hsl(343, 100%, 78%);
}

.operator-btn:hover {
    background-color: hsl(339, 100%, 85%);
}

.operator-btn:active {
    background-color: hsl(339, 100%, 90%);
}
